h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(88, 109, 227);
    text-shadow: 8px 8px 8px;
    background: rgb(255, 166, 0) ;
}
h2{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(88, 109, 227);
    text-shadow: 8px 8px 8px;
    background:rgb(255, 166, 0) ;
}
p{
    background: rgb(179, 101, 101);
}
ul, li{
    text-decoration: none;
    background: rgb(143, 148, 193);
}
img{
    box-shadow: 3px 5px 8px;
    
    margin-left:  500px;
}
a{
    text-decoration: none;
}