body{
    background: rgb(247, 200, 125);
    border: 1px solid red;
}
h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(88, 109, 227);
    text-shadow: 8px 8px 8px;
    background: rgb(255, 166, 0) ;

    
}
h2{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(88, 109, 227);
    text-shadow: 8px 8px 8px;
    background:rgb(255, 166, 0) ;
    
}
p{
    background: rgb(179, 101, 101);
    
}
ul, li{
    text-decoration: none;
    background: rgb(143, 148, 193);
}
div#logo{
    box-shadow: 0px 8px 15px;    
    margin-left:  1100px;
    display:flex;
    justify-content: flex-end;
}
div#logofooter{
    box-shadow: 8px 8px 8px;
}
a{
    text-decoration: none;
}