h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(88, 109, 227);
    text-shadow: 8px 8px 8px;
}
h2{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(88, 109, 227);
    text-shadow: 8px 8px 8px;
}
p{
    justify-content: ;
}
ul, li{
    text-decoration: none;
}
img{
    padding: 20px;
    margin-left:  500px;
}
a{
    text-decoration: none;
}